<div class="mt-4">

<form method="POST" action="" class="search-form">
  <div class="form-group">
    <label for="key">Từ khóa</label>
    <input type="text" name="key" id="key" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">

  <select name="gender" class="form-control">
    <option value="">Chọn giới tính</option>
    <option value="nam">Nam</option>
    <option value="nu">Nu</option>
  </select>
  </div>
  <button type="submit" class="btn btn-primary">SEARCH</button>
</form>
</div>